<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <title><%= title %></title>

        <!-- Google Fonts -->

        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />

        <!-- Custom Styles -->
        <link rel="stylesheet" href="css/styles.css" />

        <!-- Fontawesome CDN -->
        <script
            src="https://kit.fontawesome.com/c622614d7c.js"
            crossorigin="anonymous"
        ></script>
    </head>

    <body>
        <div class="py-3">
            <h4 class="h3">Pending Orders</h4>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Unique ID</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Delivery time</th>
                        <th scope="col">Order time</th>
                        <th scope="col">Items</th>
                        <th scope="col">Total Cost</th>
                        <th scope="col">Qty</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>
                            {"6603": 1, "6602": 5, "6635": 4, "6641": 1, "6644":
                            1, "6648": 1, "6647": 1} <br />{"6603": 1, "6602":
                            5, "6635": 4, "6641": 1, "6644": 1, "6648": 1,
                            "6647": 1} <br />{"6603": 1, "6602": 5, "6635": 4,
                            "6641": 1, "6644": 1, "6648": 1, "6647": 1}
                        </td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>
                            <a style="color: rgb(7, 221, 7); text-decoration: none;" href=""><i style="color: rgb(7, 221, 7);" class="fas fa-check-circle"></i> Done</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />

        <div class="py-3">
            <h4 class="h3">Completed Orders</h4>

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Unique ID</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Delivery time</th>
                        <th scope="col">Order time</th>
                        <th scope="col">Items</th>
                        <th scope="col">Total Cost</th>
                        <th scope="col">Qty</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
